<img class="text-center" [src]="product.image" alt="" height="80" width="120" srcset="">
<h4 appHighlight>Titulo: {{tituloProduct}} </h4>
<h4>Nombre: {{product.title | uppercase}}</h4>
<h4>Precio: {{product.price|currency}}</h4>
<h4>Fecha: {{fechaHoy | date:'medium'}}</h4>
<h4>Descripcion: {{product.description | slice:0:10 }}...</h4>
<br>
<button class=" form-control-file btn btn-warning " (click)="edit()">Edit</button>
<button class=" form-control-file btn btn-danger " (click)="deleteP()">Delete</button>
<button class=" form-control-file btn btn-primary " (click)="addProduct()">Add to the car</button>